.contenidoNews{
    display: flex;
    gap: 30px;
    margin-top: 20px;
    margin-bottom: 40px;
    width: 1000px;
}

.contenidoNews > div{
    width: 600px;
}

body{
    color:#2D2D2D;
    font-family: "Inter", sans-serif;
    font-weight: 300;

    height: 208px;
    width: 1897px;

    max-height: 208px;
    max-width: 1897px;
    margin: 0% auto;
}
main{
    background-color:  #F5F3E9;
}
#noticias{
    margin-top: 0px;
}


/*FOOTER*/
footer{
    width: 1900px;
    max-width: 1920px;
    height: 610px;
    max-height: 610px;

    background-color: #345E40;

    margin-top: 0px;
}

footer > div{
    position: absolute;
    margin-left: 209px;

    display: flex;
}
#Footer_Suscribe{
    margin-top: 172px;
}

#Footer_Suscribe h1{
    width: 751px;
    max-width: 751px;
    height: 182px;
    max-height: 182px;

    font-weight: 700;
    font-size: 70px;
    line-height: 91px;
    text-transform: uppercase;

    color: #FFFFFF;
}

#Footer_Suscribe p{
    width: 228px;
    max-width: 228px;
    height: 21px;
    max-height: 21px;

    font-weight: 400;
    font-size: 16px;
    line-height: 20.8px;

    color: #FFFFFF;

    /*Cuando se ponga el buscador calcular el top con la resta del top del navegador - el ancho de el - el top de la p*/
    margin-top: 34px;
}

#Footer_Derecha{
    margin-top: 180px;
    margin-left: 197px;
}

#Menu_footer{
    display: flex;
}

#Menu_footer > nav{
    width: 384px;
    max-width: 384px;
    height: 99px;
    max-height: 99px;
}

#Menu_footer > nav > h4{
    width: 99px;
    max-width: 99px;
    height: 43px;
    max-height: 43px;

    font-weight: 700;
    font-size: 24px;
    line-height: 43.2px;

    color: #FFFFFF;
}

#Menu_footer > nav > ul{
    width: 384px;
    max-width: 384px;
    height: 32px;
    max-height: 32px;
    display: flex;
    justify-content: space-between;
    padding: 0px;
    margin-top: 24px;
}

#Menu_footer > nav > ul > li {
    list-style: none;  
}

#Menu_footer > nav > ul a{
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    text-decoration: none;
    color: #FFFFFF;
}

#boton_subir{
    justify-content: center;
    align-items: center;
    margin-top: 12px; 
    margin-left: 124px;
    transition: cursor 3s ease;
    width: 48px;
    max-width: 48px;
    height: 48px;
    max-height: 48px;
    border: 1px solid #FFFFFF;
    border-radius: 100px;
    display: flex;
}


#boton_subir:hover{
    cursor: pointer;
}

#contacto{
    width: 222px;
    max-width: 222px;
    height: 134px;
    max-height: 134px;

    margin-top: 33px;
}

#contacto h4{
    width: 94px;
    max-width: 94px;
    height: 43px;
    max-height: 43px;
    font-weight: 700;
    font-size: 24px;
    line-height: 43.2px;
    color: #F8F5F0;
}

#contacto a{
    width: 176px;
    max-width: 176px;
    height: 21px;
    max-height: 21px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20.8px;
    color: #FFFFFF;
    text-decoration: none;
}

#contacto a p{
margin-top: 23.5px;
}

#Logos_Footer{
    width: 213px;
    max-width: 213px;
    height: 24px;
    max-height: 24px;
    margin-top: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#Logos_Footer img{
    width: 24px;
    max-width: 24px;
    height: 24px;
    max-height: 24px;
}

#General{
    margin: 0 auto;
}

#FORMULARIO{
    position: absolute;
    z-index: 2;
    width: 1500px;
    height: 125px;

    background-color: #FFFFFF;

    margin-top: -63px;
    margin-left: 210px;

    display: flex;
    align-items: center;

    border: 0px;
    box-shadow: -10 10 20 #2D2D2D0D;
}

#formulario_principal{
    display: flex;
    gap: 25px;
    margin-left: 97px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.contenedor_formulario{
    width: 242px;
    height: 61px;
}
.contenedor_formulario img{
    width: 14px;
    height: 14px;
}
.contenedor_formulario label{
    width: 77px;
    height: 19px;

    font-weight: 700;
    font-size: 16px;
    line-height: 19.36px;

    margin-left: 6px;

    color: #345E40;
}

.contenedor_formulario input,select{
    width: 140px;
    height: 19px;

    margin-top: 17px;
    border: 0px;

    font-weight: 600;
    font-size: 16px;
    line-height: 19.36px;
}
/*Quita el border del autofoco*/
.contenedor_formulario input:focus{
    outline: none;
}

.contenedor_formulario hr{
    width: 242px;
    margin-top: 6px;
    border: 1px solid #686868;
}
.contenedor_formulario select{
    width: 100%;
    text-transform: capitalize;
}

#formulario_principal button{
    width: 241px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 9px;

    background-color: #345E40;
    border: 1px solid #345E40;
    border-radius: 10px;

    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
    line-height: 16.94px;
}

/**PREGUNTAR A CARLOS */
input[type="date"]::-webkit-calendar-picker-indicator {
    background: none;
}

#formuario_footer{
    width: 809px;
    height: 46px;

    margin-top: 37px;
}

#formuario_footer div{
    width: 809px;
    height: 34px;
    margin-bottom: 12px;
    display: flex;
} 

#formuario_footer  input{
    width: 334.28px;
    height: 34px;

    font-weight: 400;
    font-size: 20px;
    line-height: 34px;

    color: #FFFFFF;
    background-color: transparent;
    border: 0px;
}

#formuario_footer a{
    width:190.8px;
    height: 34px;

    margin-left: 283.91px;

    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    color: #FFFFFF;

    text-decoration: none;
    text-transform: capitalize;
}

#formuario_footer img{
    width: 24.42px;
    height: 16px;
    margin-left: 50.95px;
}
#formuario_footer  input::placeholder{
    color: #FFFFFF;
    text-transform: capitalize;
}

#formuario_footer  input:focus{
    outline: none;
}

.noticia{
    width: 453px;
    max-width: 453px;
    height: 104px;
    max-height: 104px;

    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    text-align: justify;

    color: #2D2D2D;

    margin-top: 5px;
}

.imgDetalle{
    width: 473.36px;
    max-width: 473.36px;
    height: 286.41px;
    max-height: 286.41px;
}